ol {
  grid-area: buttons;
  justify-self: start;

  /* counter */
  list-style: none;
  counter-reset: insideButton;

  /* grid for buttons within the ordered list*/
  display: grid;
  grid-template: repeat(3, min-content) / repeat(3, min-content);
  column-gap: 10px;
  row-gap: 10px;
}

button {
  height: 3rem;
  width: 7rem;
}

li {
  counter-increment: insideButton;
}

.btn-row-1 button::before {
  content: counter(insideButton, decimal) ". ";
}

.btn-row-2 button::before {
  content: counter(insideButton, upper-roman) ") ";
}

.btn-row-3 button::before {
  content: "[0" counter(insideButton, decimal) "] ";
}

/* grid for the main page layout */
.container {
  display: grid;
  grid-template: "... buttons" auto / 1fr 1fr;
}
