/*
link to the video:
https://vimeo.com/787311020/559a4d83cc
*/

ol {
  grid-area: buttons;
  justify-self: start;

  /* counter */
  list-style: none;
  counter-reset: insideButton;

  /* grid for buttons within the ordered list*/
  display: grid;
  grid-template: repeat(3, min-content) / repeat(3, min-content);
  column-gap: 2rem;
  row-gap: 1rem;
}

button {
  height: 3rem;
  width: 7rem;
}

li {
  counter-increment: insideButton;
}

.btn-row-1 button::before {
  content: counter(insideButton, decimal) ". ";
}

.btn-row-2 button::before {
  content: counter(insideButton, upper-roman) ") ";
}

.btn-row-3 button::before {
  content: "[0" counter(insideButton, decimal) "] ";
}

/* grid for the main page layout */
.container {
  display: grid;
  grid-template: "... buttons" auto / 1fr 1fr;
}

/* two buttons with different colors */
#yellow {
  background-color: goldenrod;
}

#yellow:hover {
  background-color: green;
  color: lightgoldenrodyellow;
}

#green {
  background-color: limegreen;
  color: lightgoldenrodyellow;
}

#green:hover {
  background-color: royalblue;
  color: black;
}

/* all buttons */
button {
  border: none;
  border-radius: 12px;
}

button:hover {
  background-color: gray;
  color: white;
}
